@media (max-width: 768px) {
    section{
        width: 100%;
        padding: 0;
    }
  section h1{
    width: 90%;
  }
  section div{
    width: 95%;
  }
  .divBtnRes{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button{
    width:95%;
    padding: 0;
  } 
  .pResultado{
    width: 95%;
  }
   /* tabla en resoluciones chicas */
   .div9{
    padding: 15px 0;
   }
   .div9 h3{
    padding-left: 20px;
   }
   .divBtnRes9{
    width: 100%;
   }
   .p9{
    width: 100%;
    padding: 0;
   }
  
/* Consigna 10b display para mostrar nueros ingresados y resultado */
.div10b {
  width: min(100%, 350px);
  padding: 0;
}

.divFilaBtns5 {
  gap: 5px;
}
/* Consigna 10b botones calculadora */
.btnCalculadora {
  width: 19%;
  height: 30px;
} 
};