* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 0 30px;
    background-color: rgb(31, 31, 29);
    /* Espacio vacio para el fin de la pagina */
    padding-bottom: 80px;
}

/* Section contenedor de cards consignas y h1: tp javascript... */
section h1 {
    margin: 40px 0;
    color: white;
    background-color: rgb(19, 18, 18);
    box-shadow: 13px 13px 6px rgba(0, 0, 0, 0.589);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 2.4rem;
    color: yellow;
}

/* Div/Card consigna individual */
section div {

    border: solid 1px yellow;
    border-radius: 8px;
    padding: 18px;
    background-color: rgb(20, 18, 18);
    box-shadow: 13px 13px 6px rgba(0, 0, 0, 0.589);
    width: 80%;
}



section h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin-bottom: 8px;
    color: yellow;
    letter-spacing: 1px;
    border-bottom: 1px solid yellow;
}

/* P con la consigna */
section p {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 500;
}

/* div contenedor del boton ejecutar y el div modificado con js */
.divBtnRes {
    width: 100%;
    display: flex;
    padding: 0px;
    gap: 25px;
    border: none;
    box-shadow: none;
}

.pResultado {
    border: solid 1px yellow;
    border-radius: 8px;
    padding: 18px;
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.842);
    /* P oculto, al ejecutar la funcion aparece con js */
    display: none;
}


button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 45px;
    padding: 10px 0;
    background-color: rgb(210, 210, 30);
    border-radius: 4px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.842);
    border: rgb(19, 18, 18) solid 1px;
}

button:hover {
    border: solid yellow 1px;
    color: black;
}

/* Consigna 6 colores para cada cuadro */
.div6 {
    display: flex;
    gap: 10px;
    height: 150px;
}

.div6_1 {
    background-color: blue;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.div6_2 {
    background-color: yellow;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.div6_3 {
    background-color: gray;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.div6_4 {
    background-color: green;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.div6_5 {
    background-color: orange;
    box-shadow: none;
    border: none;
    cursor: pointer;
}



/* PARTE B TITULO */
h2 {
    margin: 40px 0;
    color: white;
    background-color: rgb(19, 18, 18);
    box-shadow: 13px 13px 6px rgba(0, 0, 0, 0.589);
    border-radius: 10px;
    padding: 20px 60px;
    text-align: center;
    font-size: 2.4rem;
    color: yellow;
}

/* consigna 7b boton limpiar campos */
.btn7bLimpiar {
    background-color: rgb(19, 18, 18);
    padding: 8px;
    color: yellow;
    font-weight: 300;
    font-size: 12px;
    margin-top: 8px;
    box-shadow: none;
    border: solid 1px rgb(208, 208, 208);
    width: 100%;
}

/* consigna 9b reemplazo p por un div contenedor */
.div9b {
    border: solid 1 px yellow;
}

/* Consigna 10b display para mostrar nueros ingresados y resultado */
.div10b {
    width: min(100% - 500px);
}

.divDisplay10b {
    padding: 0;
    width: auto;
    margin-bottom: 0px;
}

/* Consigna10b contenedor de los botones */
.divContenedorBtns10b {
    margin-top: 8px;
    width: 100%;
    padding: 0;
    display: flex;
    gap: 10px;

}

.divFilaBtns {
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: auto;
    justify-content: space-between;}

/* Consigna 10b botones calculadora */
.btnCalculadora {
    max-width: 70px;
    height: 30px;
    padding: 0px 8px;
    letter-spacing: 0px;
    box-shadow: none;
    background-color: red;
}